body {
font: 100% Verdana, Arial, Helvetica, sans-serif;
background-color:#FFFFFF;
height:auto;
margin-top: 0;
margin-left: 0;
margin-right: 0;
color: #000000;
}

body, h1, h2, h3, p, span, div {
font-family: "vera sans","dejavu sans",helvetica,verdana,arial,sans-serif;
}

.important { 
color: red;
font-weight: bold;
font-size: 110%;
padding: 4px;
width: 80%;
}

.spacedtable { 
margin: 10px; 
padding: 10px;
font-size: 120%;
}
.spacedtable td {
padding-bottom: 5px;
padding-top: 5px;
padding-left: 15px;
padding-right: 15px;
margin: inherit;
text-align: left;
}

.odd {
background-color: #e8edff;
}

.enclosed {
background-color: LightCyan;
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: #d7d7d7;
#box-shadow: #EEEEEE 3px 3px 10px;
}

#topbar {
/*# text-decoration: underline; */
width: 100%;
border-width: 0px;
margin-bottom: 2px;
color: white;
font-weight: bold;
background: #336fb6; 
}
#topbar a:visited { color: white; }
#topbar a:link { color: white; }
#topbar a:active { color: white; }


#horizmenu {
color: white;
float: right;
}

#managecontent {
margin-left: 4px; 
}

.code {
width: 50%;
margin-left: 20px;
margin: 10px;
padding: 3px;
padding-left: 10px;
border-style: solid;
border-width: 1px;
border-color: #dddddd;
}
#footer {
padding: 10px;
width: 80%;
border-top-style: solid;
border-top-width: 1px;
border-top-color: #d7d7d7;
font-size: 80%;
}