html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, /*section*/, summary,
time, mark, audio, video /* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/

/* http://www.freakcode.com/projects/pretty-lighty-status-page
   pretty automatically updating lighttpd server status by Markus Olsson
   License: MIT
*/

#wrapper {
    background: black;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#header {
    position: relative;
}

#header h1,
.section h2,
.section h3 {
    margin: 0;
    padding: 0;
    color: #162d50;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

#header h1 {
    border-bottom: solid 1px #eee;
}

#last-update { 
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 10px;
    font-weight: bold;
}

#server-name {
    font-weight: bold;
    font-size: 20px;
}

.section {
    background: white;
    top: 10px;
    /* margin: 10px
    // margin-bottom: 15px; */
    padding: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}


.innerSection {
    float: left;
}

.clearfix { clear: both; }

.valueContainer h4 {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.valueContainer {
    text-align: center;
    background: #f2f2f2;
    padding: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    float: left;
    margin-right: 10px;
    width: 100px;
}

.valueContainer div {
    font-size: 26px;
    font-weight: bold;
}

#connectionsTable {
    width: 100%;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: x-small;
    border-collapse: collapse;
    margin-top: 10px;
}

#connectionsTable tr th {
    background-color: #003366;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 0.5em;
    border-left: 1px dotted #cccccc;
    margin: 0;
}

#connectionsTable th:first-child {
    border-left: 0;
}

#connectionsTable tr th:hover {
    background-color: #2d5e92;
}

// Table cells: general

#connectionsTable td:first-child {
    border-left: 0;
}

#connectionsTable tr td {
    padding: 0.5em;
    border-left: 1px dotted #cccccc;
    margin: 0;
}

// Optional alternating colours

#connectionsTableEven td {
    background-color: #fff;
}

#connectionsTableOdd td {
    background-color: #eeeeee;
}

	
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Basic layout */
html,body {
	height: 100%;
	/* background: #FAFAFA; */
}

#outer {
	min-height: 100%;
}

#mainarea {
	/* background: none repeat scroll 0 0 #FAFAFA; */
	overflow: auto;
	padding-bottom: 19px;
}

/* Typography */
/* http://stackoverflow.com/questions/4541421/is-using-font-size-100-01-still-needed-and-for-what-browsers */
html {
	font-size: 100.01%;
}

body {
	font-size: 75%;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
}

h1,h3,h4,h5,h6 {
	font-weight: bold;
	color: #111;
}

h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}

h2 {
	font-size: 1.8em;
	margin-top: 0.75em;
	margin-bottom: 0.75em;
	font-weight: bold;
	color: #555;
}

h3 {
	font-size: 1.4em;
	line-height: 1;
	margin-bottom: 1em;
}

.fullScreenDialogBox {
    background-color: #FFFFFF;
    border-bottom: 3px solid #000099;
    cursor: move;
    font-size: 90%;
    font-weight: bold;
    padding-left: 0px;
    text-align: center;
    border : 2px;
    overflow:hidden;
    z-index:1000;
    border: 1px solid #ccc; -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 3px 3px; -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 3px 3px; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; background: #fff;
}
	

.dashGroupMsgContainer {
	width: 200px;
}
.dashGroupMsgContainerAlert{
	padding: 0.4%;
	margin: 0.2em;
	background: #FFE15C;
	color: #000;
}

/* Common */
a {
	color: #2D5F99;
	text-decoration: none;
}


dl,ol,ul {
	padding: 1em 0 1em 0;
}

.floats {
	float: left;
	margin: 1em;
	border: 1px solid #ccc;
}
.float_left {
	float: left;
}

.commands {
	margin: 1em 0;
}

.bold {
	font-weight: bold;
}

.no_focus:focus {
	outline: none;
}

hr {
	border: 0;
	background: #ccc;
	height: 1px;
}
.clear_both {
	clear: both;
}	

#reminder.dialog {
	position: absolute;
	width: 320px;
	background: #FFFF99;
	z-index: 1000;
	margin: -180px 0 0 95px;
	border: 1px solid #FFD851;
}

#reminder.dialog p {
	padding: 1em;
}

#reminder.dialog button {
	margin: 0 0 10px 110px
}

/* Contextual help */
.contextual_help {
	float: left;
	background: #FFE15C;
	color: #000;
	margin: 1em;
	padding: 1%;
}

/* Header */
#topheadwrapper {
	background: #336FB6; 
	/*padding: 0.5em;*/ 
	height: 40px; 
	overflow: hidden;
}

#topheadcontainer {} /*Reserved*/

.logincontainer {
	border: 1px solid #ccc; 
}

#logobox {float: left; width: 40px;}
#slogan { float: left; padding: 11px 50px 0 10px; color: #fff; text-transform: uppercase; font-weight: bold; font-size: 1.5em; /*margin-left: 30px;*/}
#logobox img {}

#navigation {width: 1000px;padding-top: 13px;}

.breadcrumb {
	/*line-height: 65px; */
	color: #fff; 
	font-size: 1em; 
	text-transform: uppercase;
	padding: 9px 5px 9px 5px;
	border-bottom: 1px solid #ccc;
}
/*#breadcrumb a {color: #fff; text-decoration: underline;} */
.breadcrumb img {padding: 2px 5px 1px 6px;}
.inactive_breadcrumb { text-decoration: none; color: #000000}
.inactive_breadcrumb:hover { text-decoration: none;cursor: auto;}

/* Navigation */
#navbar {margin: 2px 0;}
#navbar ul {margin: 0; padding: 0; list-style-type: none; list-style-image: none;}
#navbar li {display: inline;}
#navbar ul li a {color: #fff; padding: 1.2em; text-transform: uppercase; -moz-border-radius: 1px; -webkit-border-radius: 1px; border-radius: 1px;}
#navbar ul li a:hover, #navbar ul.nav li a.active  {background: #fafafa;; color: #444;}
#navbar ul.nav li a.active {font-weight: normal;}

#user_toolbar {color: #fff; position: absolute; top:0.8em; right:0; width: 600px; text-align: right; padding-right: 20px;float: right; padding-top: 4px;}
#user_toolbar .signedin {color: #fff; padding-right:10px;}
#user_toolbar .signout { background: url('../images/icn_signout.png') 0 0 no-repeat; color: #FFFFFF; padding: 2px 0 10px 20px; underline: none;}
#user_toolbar a {color: #fff; } 
#user_toolbar a:hover {color: #fff; text-decoration: underline; background: url('../images/icn_signout.png') 0 0 no-repeat;}


/* VAC palettes */
.
.palette_header .user,.palette_header .group,.palette_header .config,.palette_header .ban,.palette_header .network,.palette_header .threads,.palette_header .debug,.palette_header .sessions,.palette_header .acceptors,.palette_header .system,.palette_header .timers,.palette_header .others,.palette_header .esi,.palette_header .http,.palette_header .dashboard,.palette_header .cli,.palette_header .messages,.palette_header .support,.palette_header .license
	{
	height: 16px;
	width: 16px; 
	float: left;
	padding: 0 0.5em 0 0.5em;
	border-bottom: 1px solid #ccc;
	margin: 0 0 0 0.1em;
}

.palette_header {
	/* background: #FEFEFE; */
	height: 28px;
	text-transform: uppercase;
	padding: 8px 0px 8px 10px;
}


.palette_header .user, .palette_header .group, .palette_header .config, .palette_header .ban, .palette_header .network, .palette_header .threads, .palette_header .debug, .palette_header .sessions, .palette_header .acceptors, .palette_header .system, .palette_header .timers, .palette_header .others, .palette_header .esi, .palette_header .http, .palette_header .dashboard, .palette_header .cli, .palette_header .messages, .palette_header .support, .palette_header .license {height: 16px; width: 16px; float:left; padding: 0 0.5em 0 0.5em; margin: 0 0 0 0.5em;}

.palette {
	/* border: 10px solid #ccc; */
	padding: 0,0.3em; 
	/* -webkit-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 3px 3px; 
	// -moz-box-shadow: rgba(0, 0, 0, 0.0976562) 0px 3px 3px; 
	// -moz-border-radius: 4px; 
	// -webkit-border-radius: 4px; 
	// border-radius: 4px;
	*/ 
	background: #fff;
 }

.palette_header {
	text-transform: uppercase; 
	font-size: 1.1em;
	border-top: 1px; 
	/* color: #555; 
	// padding: 5px; */
}


/* Toolbars */
#cache_toolbar {
	height: 32px;
}

#cache_toolbar ul li {
	float: left;
}

#cache_toolbar ul li.cli {
	text-transform: uppercase;
	display: block;
	margin: 0 1em 0 0;
}

#cache_toolbar ul li.move {
	text-transform: uppercase;
	display: block;
}

/* Login */
#login {	
	margin: 10% auto;
	width: 500px;
}

#login button {
	margin: 0.5em 0 1em 0;
}

#login label {
	margin: 1em 0 0 0;
}

#login .palette_content {
	padding: 0 20% 5% 20%;
}

#login .note,#login .success {
	padding: 2%;
}

#login .login_license_key {
	padding: 0 10% 5% 10%;
}

#login .login_license_key table {
	margin: 5% 0 1% 0;
}

#login .login_license_key table th {
	padding: 2%;
}

#login .login_license_key table td {
	padding: 2%;
}

/* #user_view,#group_view,#parameter_view,#vcl_view,#message_view,#support_view
{
	// margin: 1%;
	width: 98%;
	overflow: hidden;
}
*/

.vcl_view_padding {
	padding-right: 10px;
}


.login_license_key label {
	font-size: 1.4em;
	font-weight: bold;

}

.status-success {
	color: #222;
    font-weight: bold;
    margin: 0 0 0 5px;
}

/* User */
#user_edit {
	width: 40%;
}

#user_edit label {
	margin: 1em 0 0 0;
}

#user_edit .text {
	width: 40%;
}

#user_edit .optional {
	color: #666;
}

.optional {
	color: #666;
} /*Maybe have this here, for re-use*/
div.results {float: right;}
div.results label {color: #666; display: inline; margin-right: 3px;}

/* Groups */
#group_view {
	
}

#group_view .cache_tools {
	margin: 0 0.5em 0 0;
	float: right;
}

#group_creation {
	padding: 0.5em
}

#group_creation select {
	margin: 0 1%
	height: 34px;
	width: 200px;
	padding: 5px;	
}

#group_creation input.text {
	width: 13%;
}

#group_edit .text {
	width: 216px;
}

#group_edit label {
/* 	display: inline; */
}

#group_edit .overviewGroupChkBox {
    margin: 1em 0;
}

.overviewGroupChkBox label {
	display: inline;
}

.overviewGroupChkBox div {
	display: inline;
	width: 200px;
	float:left;
}

.overviewGroupWrapper {
	margin-bottom: 10px;
}

.overviewGroupWrapper div{
	display: inline;
	padding-left: 15px;
	color: #ccc;
	font-size: 10px;
}

#cache_select {
	float: left;
	width: 100%;
}

/*CacheGroup Health*/
.okIndicator {
	height: 11px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/health_sprites.png') 0 0 no-repeat;
	underline: none;
}

.alertIndicator {
	height: 12px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/health_sprites.png') 0 -17px no-repeat;
	underline: none;
}

.errorIndicator {
	height: 12px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/health_sprites.png') 0 -32px no-repeat;
	underline: none;
}

.inactiveIndicator {
	height: 12px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/health_sprites.png') 0 -50px no-repeat;
	underline: none;
}

/* Parameters */
.parameters_menu {
	height: 100%;
	float: left;
	padding: 1%;
	margin: 1em 0 0 0;
	border: 1px solid #ccc;
}

.parameters_menu ul li {
	padding: 5%;
}

.parameters_menu ul li.active {
	background: #3B80D5;
}

.parameters_menu ul li.active a {
	color: #fff;
}

.parameter_form table {
	width: 100%;
}

.parameter_form td {
	height: 30px;
    margin : 0.2em 0 0.2em 0;
    padding: 0.1em 0 0.1em 0;
}

.parameter_form form {
	padding: 1em;
}

.parameter_form label {
	display: inline;
	text-transform: lowercase;
}

.parameter_form input.text {
	width: 100px;
	margin: 0.25em;
	
}

.parameter_form input.radio {
	margin: 0 1em 0 1em;
}

.parameter_form .active {
	background: #EFFFD0;
}

.parameter_extrapadding {
	padding-top: 5px;
}

/* #cliwrapper {
	background: #222; margin 1%;
	width: 98%;
	height: 100%;
	padding: 1%;
}

*/
#cli input:focus {outline: none;}

#cli_wrapper p {
	font-family: Consolas, Monaco, sans-serif;
	color: #fff;
}

#cli_toolbar ul {
	list-style-type: none;
	display: inline;
}

#cli_toolbar ul li.unchallenged {
	height: 16px;
	background: url('../images/icn_toolbars.png') 0 0 no-repeat;
	margin: 0 0 1em 0;
	padding: 16px 0 0 32px;
	text-transform: uppercase;
}

.cliContainer {
	background: #222; 			
	padding: 1%;
	width: 98%;
	height: 450px;								
	overflow: auto;
	color: #FFF;
	font-size: 12px;
}
		
.cliContainer p {
	font-family: Consolas, Monaco, monospace;
	color: #fff;
}
		
.cliPrompt {
	padding-top: 2px;
	padding-right: 3px;		
	font-family: Consolas, Monaco, monospace;	
}
		
.cliContainer input.cliCommand {
	border: 0 none; 
	margin: 0pt; padding: 0pt;  		
	width: 464px;
	background: #222;
	color: #FFF;
	font-family: Consolas, Monaco, monospace;
}
/*.cliContainer pre {
    font-family: Consolas, Monaco, monospace;
}*/

.cliLogContainer {
	margin: 0px; 
	font-family: Consolas, Monaco, monospace;
}

.cliPromptContainer {
	margin-top: 0px;	
	padding-left: 0px;								
	background: #222;
}

#vcl_new_anchor_div {
	float:left; 
	width:30px; 
	height: 20px;
	padding: 8px 15px 0px 0px;
	margin: 0px 10px 0px 0px;
	border-right: 1px solid #bbb;
}

#vcl_command_buttons_div {
	float:left; 
	width: auto; 
	height: 28px;
	padding-top: 0px;
	padding-left:10px;
}

#vcl_icon_text {
	valign: middle;
	width: auto;
	height: 100%;
	float: left;
	text-shadow: graytext;
	padding: 8px 0px 0px 0px;
}

#vcl_div_plain_box input[type="text"] {
	width: 200px;
	height: 1.1em;
	font-size: 1em;
	padding: 6px;
	margin: 0px;
}

#vcl_div_solid_box {
	margin: 1px;
	padding: 1px;
	margin-left: 10px;
	border: 1px solid #bbb;
	background: #E5E5E5 url('../images/palette_header.gif') repeat-x;
}

#vcl_wrapper pre {
	font-family: Consolas, Monaco, sans-serif;
	color: #fff;
}

#vcl_wrapper_right {
    float: left;
    font-size: 0.9em;
    height: 100%;
    width: 100%;
}

#vcl_textbox {
	margin: 0;
}

.ace_editor_main {
	height:100%;
	width: 100%; 
	position: relative !important;
	padding: 0px;
	border-top: 1px solid #ccc;
}

.ace_editor_snippet_detail {
	height:100%;
	width: 100%;
	padding: 0px;
}

#vcl_toolbar td {
	padding: 0 15px 5px 15px;
	border-right: 1px dotted #ccc;
}

#vcl_view button {
	
}

/*VCL Icons*/

.vclSnippet {
	height: 16px;
	margin-left: 9px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/vcl_editor_sprites.png') 0 -39px no-repeat;
	underline: none;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	padding-top: 5px;
	
}

.snippetDetailToolbar {
	width:100%;
	height: 28px;
	padding: 5px 0px 5px 0px;
	border: 1px solid #ccc;
	border-left:none;
}

.snippetList {
	border-bottom : #ccc 1px solid;
	width: 100%;
	border: none;
	padding-left: 9px;
	border-top : #ccc 1px solid;
	margin-top: 2px;
}

.cheat_sheet_panel {
	padding-top: 2px;
}

#cheat_sheet_content_wrapper {
	border-top: 1px solid #ccc;
	padding-left: 10px;
	padding-top: 10px;
}

.vclCheatSheet {
	height: 16px;
	margin-left: 9px;
	margin-bottom: 0.5em;
	padding-left: 16px;
	background: url('../images/vcl_editor_sprites.png') 0 -59px no-repeat;
	underline: none;
	border-right: 1px solid #ccc;
	padding-right: 10px;
	padding-top: 5px;
}

.vclCheatSheetContainer {
	padding-top: 2px;
	height: 100%;
	width: 100%;
}


/*
#vcl_toolbar {
	border-bottom: 1px solid #ccc;
}
*/

.vcl_container {
	color:#FFFFFF;
	font-family: Consolas,Monaco,sans-serif;
	font-size:90%;
}

.without_margin_and_padding {
	margin:0;
	padding:0;
}

/* Messages */
#message_view .message_priority_high {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #DA2100;
}

#message_view .message_priority_medium {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #FFE15C;
}

#message_view .message_priority_normal {
	position: relative;
	display: block;
	width: 16px;
	height: 16px;
	border: 1px solid #ccc;
	background: #D2F273;
}

#message_view th.view_subject {
	background: #fff;
	border: 0;
	font-size: 1.6em;
	font-weight: bold;
}

#message_view td.view_message {
	background: #eee;
	padding: 0.5em;
}

/* Ban manager */
#quickban {
	border: 1px solid #222;
	background: #333;
	padding: 0.5em;
	width: 835px;
}

#aboutBans {
	width: 750px;
}

#aboutBans div {
	padding: 20px;
	height: auto;
}

#aboutBans .banSnippet {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	 -khtml-border-radius: 2px;
	 border-radius: 2px;
	 padding: 5px 5px 5px 5px; 
	 background-color: #D4E2F2; 
	 border: 1px dashed #666;
}

.banButton {
	width: 73px;
}

.quickBanPanel1{
	float: left;
}

.quickBanPanel2 {
	padding-left: 595px;
}

.more_ban_spinny {
	background: url('../common/images/spinner.gif') 0 0 no-repeat; 
}

#spinnyWheelContainer {
 	display: table-cell; float: none; vertical-align: middle;
}

#spinnyWheelContainer img {
	width:20px;
	height:20px;
}

#quickban label {
	display: inline;
	/*margin: 0 1% 0 0;*/
	color: #fff;
}

#quickban select {
	margin: 0 1%;
	width: 108px;
	height: 24px;
}

#moreAnchorContainer {
	margin-top: 10px;
}

.moreAnchor{
/* 	padding: 4px 60px !important; */
	width: 22em;
}

#moreLabel {
	display: table-cell; float: none; vertical-align: middle;
}

/* #quickban input.text {
	width: 33%;
} 

#quickban img {
	border: 0;
	margin: 0 5px -5px 0;
}*/

#recentbans {
	margin: 1em 0 0 0;
}

.recentBanTable {
	width: 850px;
	margin: 5px 0px;
}

.recentBanTableDiv {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 1em;
}

.banRow {
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background-color: #f8f8f8;
	cursor: pointer;
}

.banRow td, .banRowClicked td{
	padding: 10px;
}

.banRowClicked {
	background-color: #cbe1fc;
	border-bottom: 1px solid #E8E8E8;
    border-top: 1px solid #E8E8E8;
    cursor: pointer;
}

/* Support */
#support_view ol {
	list-style-type: decimal;
	margin: 0 0 0 2em;
	padding: 1em 0;
}

#support_view li {
	padding: 0.3em 0;
}

#support_view ul {
	list-style-type: disc;
	margin: 0 0 0 2em;
}

#support_view dt {
	font-weight: bold;
	font-size: 1.1em;
}

#support_view dd {
	margin: 0.5em;
}

#support_view form {
	margin: 0 0 2em 0;
}

#support_view textarea {
	height: 100px;
}

#support_view .getsupport {
	float: left;
}

.support_license_info {
	background-color:#EBEBEB;
	padding-left: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}
.support_license_info table {
	width: 100%;
}

.support_license_info .license_info_field {
	width: 30%;
	padding: 0.6em 0 0.6em 0;
}

.support_license_info .license_info_value {
	padding: 0.6em 0 0.6em 0;
}

.support_license_update {
	padding-top:10px;
	padding-bottom:10px;
}

.support_file_name_check {
	padding-top:2px;
	height: 16px;
	margin-bottom: 0.5em;
	padding-left: 20px;
	background: url('../images/checkmark.png') 0 0 no-repeat;
}

.support_file_name_cross {
	padding-top:2px;
	height: 16px;
	margin-bottom: 0.5em;
	padding-left: 20px;
	background: url('../images/cross.png') 0 0 no-repeat;
}

.support_license_key {
	padding-bottom: 10px;
}

/* For information, on-screen messages given the user */
.critical,.alert,.note,.success,.information {
	padding: 1%;
	margin: 1em;
}

.critical a,.alert a,.note a,.success a,.information a {
	text-decoration: underline;
}

.critical {
	background: #DA2100;
	color: #fff;
}

.alert {
	background: #FF875A;
	color: #000;
}

.note {
	background: #FFE15C;
	color: #000;
}

.success {
	background: #D2F273;
	color: #000;
}

.information {
	background: #38D4FA;
	color: #000;
}

.inline_error {
    color: #FF0000;	
}

/* Messages for notifications in tables and views */
td .critical,td .alert,td .note,td .success,td .information {
	margin: 1% 0;
}

/* Bulk and command actions */
.actions {
	margin: 1% 0 4% 0;
}

.bulk_action {
	float: left;
}

.filter_view {
	float: left;
	margin: 0 0 0 1em;
}

.bulk_action button,.filter_view button {
	height: 20px;
	padding: 3px 5px 3px 5px;
	font-size: 1em;
}

.palette_content {
	padding: 1em;
}

.ban_palette_content{
	width: 850px;
	padding: 1em;
	padding-top: 0px;
}

/* Tables */
table {
	margin: 0 0 1% 0;
}

th {
	background: #F5F5F5;
	border-bottom: 1px solid #ccc;
	height: 1%;
	text-align: left;
	padding: 1em 0 1em 0;
	text-transform: uppercase;
}

td {
	padding: 1em 0 1em 0;
	/* vertical-align: top; */
}

.odd {
	background: #DEEAF6;
}

.even {
	background: #F1F7FC;
	/* Same style as TH above */
}

.header {
	background: #F5F5F5;
	border-bottom: 1px solid #ccc;
	height: 1%;
	text-align: left;
	padding: 1em 0 1em 0;
	text-transform: uppercase;
}

/* Pagination */
#pagination {height: 24px;}

#pagination .pagination li{
border:0; margin:0; padding:0;
font-size:1em;
list-style:none;
margin-right:2px;
display: inline;
}
#pagination .pagination a{
border:solid 1px #9aafe5
margin-right:2px;
}
#pagination .pagination .previous-off,
#pagination .pagination .next-off {
border:solid 1px #DEDEDE
color:#888888
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
#pagination .pagination .next a,
#pagination .pagination .previous a {
font-weight:bold;
}

#pagination .pagination .next a:hover, #pagination .pagination .previous a:hover {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	border-radius: 5px;
	background: #579FE8; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579FE8), to(#3470B9)); 
	background: -moz-linear-gradient(top, #579FE8, #3470B9); 
	cursor: pointer;
}
 
#pagination .pagination .active {
	background:#336FB6;
	color:#FFFFFF;
	font-weight:bold;
	display:block;
	float:left;
	padding:4px 6px;
	border: 1px solid #4A8DC8; 
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	background: #579FE8; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579FE8), to(#3470B9)); 
	background:  -moz-linear-gradient(top, #579FE8, #3470B9);
}
#pagination .pagination a:link, #pagination .pagination a:visited {
	color:#0e509e
	display:block;
	float:left;
	padding:3px 6px;
	text-decoration:none;
	border:solid 1px #fff;
}
#pagination .pagination a:hover{ 
	padding:4px 6px;
	-moz-border-radius: 10px; 
	-webkit-border-radius: 10px; 
	border-radius: 10px;
	color: #fff; border: 1px solid #4A8DC8; 
	background: #579FE8; 
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579FE8), to(#3470B9)); background:  -moz-linear-gradient(top, #579FE8, #3470B9);
}
/* Modals, progressbar, spinner*/
.modal {
	background: #000; 
	opacity: 1; 
	height: 100%; 
	z-index: -1000;
} 
/* Please note that modal here is set behind the progress indicator, will not work without JS */
.progress_bar_wrapper {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #F1F7FC;
	color: #222;
	/*height: 205px;*/
	width: 600px;
	margin: -100px 0 0 -300px;
	z-index : 1000;
}

.progress_bar_wrapper p.progress_title {
	font-size: 1.2em;
	padding: 1em 0 0 1em;
	font-weight: bold;
}

.progress_bar {
	width: 500px;
	height: 32px;
	background: #eee;
	margin-top: 1.2em;
	margin-left: 25px;
	float: left;
}

.progress_bar_inner {
	position: relative;
	display: block;
	overflow: hidden;
	/* For browser that don't support gradients, we'll set a blanket background colour */
	background-color: #74d04c;
	-webkit-background-size: 44px 44px;
	/* Webkit background stripes and gradient */
	background: -webkit-gradient(linear, 0 0, 44 44, color-stop(0.00, rgba(51, 111, 182,
		1) ), color-stop(0.25, rgba(51, 111, 182, 1) ),
		color-stop(0.26, rgba(59, 128, 213, 1) ),
		color-stop(0.50, rgba(59, 128, 213, 1) ),
		color-stop(0.51, rgba(51, 111, 182, 1) ),
		color-stop(0.75, rgba(51, 111, 182, 1) ),
		color-stop(0.76, rgba(59, 128, 213, 1) ),
		color-stop(1.00, rgba(59, 128, 213, 1) ) ),
		-webkit-gradient(linear, left bottom, left top, color-stop(0, #74d04c),
		color-stop(1, #9bdd62) );
	/* Mozilla (Firefox etc) background stripes */
	/* Note: Mozilla's support for gradients is more true to the original design, allowing gradients at 30 degrees, as apposed to 45 degress in webkit. */
	background: -moz-repeating-linear-gradient(top left -30deg, rgba(255, 255, 255, 0.17
		), rgba(255, 255, 255, 0.17) 15px, rgba(255, 255, 255, 0) 15px,
		rgba(255, 255, 255, 0) 30px ),
		-moz-linear-gradient(#9bdd62 0%, #74d04c 100%);
	-webkit-animation: animate-stripes 2s linear infinite;
	margin: 2px;
	height: 28px;
	width: 0px;
} /* Please note that this width/height should be set in the script */
.progress_bar_precentage {
	float: left;
	margin: 18px 0 20px 10px;
	font-size: 1.8em;
	font-weight: bold;
}

.progress_bar_wrapper .progress_info {
	margin: 1em;
	/*height: 80px;*/
}

.progress_bar_wrapper .progress_info p {
	margin: 0 0 0.4em 0;
}

.progress_bar_wrapper .progress_info p.current {
	color: #222;
}

.progress_bar_wrapper .progress_info p.history {
	color: #999;
}

.progress_bar_wrapper .progress_bar_button_container {
	padding-top:10px;
	padding-bottom:30px;
}

.progress_spinner {position: fixed; width:48px; height: 48px; top: 50%;left:50%; padding: 1%; margin-left:-24px; background:#000; color: #fff; border-radius: 5px; -moz-border-radius: 5px;}

/* Form.css */
a {
	cursor:pointer;
}

div.palette_header p div {
	float:right;
	font-size:1em;
	color: #fff;
	font-weight:bold;
	cursor:pointer;
	border:1px solid #ccc;
	/* padding: 5px 7px 5px 7px;
	// border-radius: 12px;
	// -moz-border-radius: 12px;	 */
	margin-top: -1px;
}

td span label {
	font-weight: normal;
	text-transform: uppercase;
	display : inline !important;
	text-align:center;
	
}


tbody tr td label {
	padding: 8px 0 8px 0;
}

tbody tr td input.text {
	padding: 8px 0 8px 0;
}

tbody tr td span input.radio {
	padding: 8px 0 8px 0;
}

tbody tr td span label {
	padding: 8px 0 8px 0;
}

label {
	font-weight: normal;
	text-transform: uppercase;
 	display: block;
}

fieldset {
	margin: 0;
	padding: 0;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: -0.2em;
	margin-bottom: 1em;
}

legend,#IE8#HACK {
	margin-top: 0;
	margin-bottom: 0;
}

input[type=text],input[type=password],input.text,input.title,textarea {
	background-color: #fff;
	border: 1px solid #bbb;
}

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus
	{
	border-color: #666;
}

select {
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
}

input[type=text],input[type=password],input.text,input.title,textarea,select
{
	margin: 0.5em 0;
}

input.text,input.title {
	width: 100%;
	padding: 0.5em;
}

input.title {
	font-size: 1.5em;
}

textarea {
	width: 100%;
	padding: 0.5em;
}

form.inline {
	line-height: 3;
}

form.inline p {
	margin-bottom: 0;
}

.error {
	background: #FEDDDD;
	width: 95%;
	height: 32px;
	margin: 0.5em;
	padding: 0.5em;
}

.error p {
	font-size: 1.2em;
	text-align: center;
	padding-top: 0.5em;
}

.notabletext {
	padding-left: 1.6em;
	padding-top: 0.8em;
	padding-bottom: 1.1em;
	font-size: 120%;
	font-weight: bold;
}
/* Button */

button, .button{
	border-radius: 5px;
	-moz-border-radius: 5px 5px;
	border: 1px solid #4A8DC8;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	line-height: 12px;
	padding:7px 10px 7px; /* Next we declare for legacy */
	background: #579FE8;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579FE8),
		to(#3470B9) ); 
	background: -moz-linear-gradient(top, #579FE8, #3470B9);
	cursor: pointer;
}

buton:focus {outline: none;}

button:hover {
	border: 1px solid #2D5F99;
	color: #eee;
}

button.small {
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border: 1px solid #4A8DC8;
	font-size: 1em;
	text-transform: uppercase;
	color: #fff;
	font-weight: normal;
	line-height: 12px;
	background: #579FE8;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#579FE8),
		to(#3470B9) );
	background: -moz-linear-gradient(top, #579FE8, #3470B9);
	cursor: pointer;
	padding: 3px;
}

/* Footer */
#footer {
	position: relative;
	text-alignment: right;
	font-weight: bold;
	/*margin-top: -19px;*/
	height: 19px;
	/*clear: both;*/
	/*padding: 0.5em;*/
	color: #999;
}
.footerDiv {
	padding: 0em 1em;
}

